Repository iorate/semantic-release-amo: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: pnpm biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

chore: update package.json
  package.json
Due: biome

chore: update readme
  README.md
Due: prettier

Notes added by 'git notes add'
  f9abedcc93030bee76f0e840a0005c12d7e4e273
Due: none

chore: update dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome, prettier

chore: migrate to biome v2
  .vscode/settings.json
  biome.json
  src/common.ts
  src/prepare.ts
  src/publish.ts
Due: biome

chore: update configurations
  .github/actions/setup/action.yml
  .github/workflows/check.yml
  .github/workflows/deploy.yml
  .github/workflows/format.yml
  .prettierignore
  lefthook.yml
  package.json
  tsconfig.json
Due: biome, prettier

fix: send release notes as markdown instead of HTML
  package.json
  pnpm-lock.yaml
  src/publish.ts
Due: biome, prettier

Notes added by 'git notes add'
  2b8ddde07d01e069618694455e956fce6fe5c674
Due: none

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc,css}
  prettier: any of: *.{yml,yaml,md,markdown}
